.from {
    padding: 15px;
    background-image: url(https://i.ibb.co/8myTtsD/jc-gellidon-3uqauuc-Yhj-Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.entry-from {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 25px;
    width: 50%;
    border: 4px dotted wheat;
    border-radius: 30px;
    border-right-color: lightsalmon;
    border-bottom-color: rgb(255, 72, 0);
}

.login-btn {
    width: 25%;
}

.reset {
    cursor: pointer;
}

.login-link {
    color: orange;
    font-size: 17px;
    text-decoration: none;
}

.login-link:hover {
    color: rgb(255, 238, 0);
    font-size: 17px;

}



/* ---------- for mobile- -------------- max-width: 768px------ */

@media screen and (max-width: 768px) {


    .entry-from {
        padding: 25px;
        width: 90%;
    }

    .login-btn {
        width: 50%;
    }

    .login-link {
        display: flex;
        flex-direction: column;
    }

}



/* ---------- for tablet- -------------- max-width: 991px------ */

@media screen and (min-width: 769px) and (max-width: 991px) {

    .entry-from {
        padding: 25px;
        width: 70%;
    }
}