.social-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    color: orange;
    border: 1px solid goldenrod;
    border-radius: 10px;
    background-color: rgba(139, 0, 0, 0);
}

.social-btn:hover {
    color: whitesmoke;
    border: 1px solid goldenrod;
    background-color: rgba(255, 166, 0, 0.089);
}

.social-btn:hover .social-icon {
    color: greenyellow;
}